<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/dashboard" (click)="getParam()">
                <i class="material-icons">dashboard</i>
                Dashboard
            </a>
            <a mat-list-item routerLink="/desafio" (click)="getParam()">
                <i class="material-icons">book</i>
                Desafios
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>