<div class="content-challenge">
    <h3>Problema do conjunto e seus elementos únicos</h3>
    
    <form [formGroup]="formChallenge">
        <div class="input-principal">
            <input type="number" 
                formControlName="numbersArray"
                placeholder="Digite a quantidade de números que serão digitados">
        
            <button (click)="addValuesChallenge()">Add</button>
            <button (click)="limparFormChallenge()">Reset</button>
        </div>
    
    
        <div class="quantity-inputs" *ngIf="valuesChallenge.controls.values">
            <div class="inputs-randomicos"
                formArrayName="valuesChallenge" 
                *ngFor="let value of valuesChallenge.controls; let i=index">
    
                    <input type="number" [formControlName]="i">
                    
            </div>
        </div>
        <button class="button-order" (click)="valuesChallengeInputs()">Order numbers</button>
    
        <div class="result">
            {{sortNumbers}}
        </div>
    </form>
</div>
